<div class="common-footer">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <span class="contact-section">
        <i class="fas fa-map-marker-alt"></i> New Mumbai, India <b class="divider">|</b>
      </span>
      <span class="contact-section">
        <a href="mailto:bashirshaikh24@gmail.com">
          <i class="fas fa-envelope"></i> bashirshaikh24@gmail.com <b class="divider">|</b>
        </a>
      </span>
      <span class="contact-section">
        <i class="fas fa-phone-alt"></i> 9594767073 <b class="divider">|</b>
      </span>
      <span class="social-media-icon">
        <a href="https://www.facebook.com/shaikh.bashir.98/" target="blank">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://twitter.com/BashirS21526409" target="blank">
          <i class="fab fa-twitter-square"></i>
        </a>
        <a href="https://www.linkedin.com/in/bashir-shaikh/" target="blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </span>
    </div>
  </div>
</div>
