<ul class="family-tree-sideNav primary-bg-color">
  <li
    class="side-menu primary-border-color common-sidenav-icon-color"
    routerLinkActive="active"
    routerLink="./dashboard"
  >
    <i class="fas fa-chart-pie sideNav-icon-color"></i>
    <p>Dashboard</p>
  </li>
  <li
    class="side-menu primary-border-color common-sidenav-icon-color"
    routerLinkActive="active"
    routerLink="./addNewFamily"
  >
    <i class="fas fa-user-plus sideNav-icon-color"></i>
    <p>Add New Family</p>
  </li>
  <li
    class="side-menu primary-border-color common-sidenav-icon-color"
    routerLinkActive="active"
    routerLink="./viewAllFamily"
  >
    <i class="fas fa-home-heart sideNav-icon-color"></i>
    <p>All Family</p>
  </li>
  <li
    class="side-menu primary-border-color common-sidenav-icon-color"
    routerLinkActive="active"
    routerLink="./themes"
  >
    <i class="far fa-pencil-paintbrush sideNav-icon-color"></i>
    <p>Themes</p>
  </li>
  <li
    class="side-menu primary-border-color common-sidenav-icon-color"
    routerLinkActive="active"
    routerLink="./userAccount"
  >
    <i class="far fa-user-circle sideNav-icon-color"></i>
    <p>User Account</p>
  </li>
</ul>
