.common-header {
  height: 60px;
  box-shadow: 1px -1px 2px 2px #d6d6d6;
}
.common-header {
  padding: 5px 20px;
}

.logout-section {
  text-align: right;
  padding: 6px 0;
}

.logout-section button {
  background-color: transparent;
  border: 0;
}

.logout-section .userName i {
  font-size: 36px;
  vertical-align: middle;
}

.logout-section .userName span {
  padding-right: 8px;
  font-weight: 500;
  color: #6a6a6a;
}

.userOption i {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 18px;
  transform: translateY(-50%);
  color: #bcbcbc;
}
