.primary-border-color {
  border-color: #6f7aff;
}

.secondary-border-color {
  border-color: #aeb4ff;
}

.sideNav-icon-color {
  color: #606cff;
}

.common-sidenav-icon-color:hover,
.common-sidenav-icon-color.active,
.the-family-logo {
  background-color: #606cff;
  box-shadow: inset 0px 0px 4px 3px #5160ff;
}

.common-sidenav-icon-color:hover .sideNav-icon-color,
.common-sidenav-icon-color.active .sideNav-icon-color {
  color: #7f89ff;
}

.icon-section i {
  color: #7f89ff4f;
}

.primary-bg-color {
  background-color: #7f89ff;
  color: #fff;
}

.secondary-bg-color {
  background-color: #ffffff;
}

.third-bg-color {
  background-color: #f1f1f1;
}

.primary-font-color {
  color: #7f89ff;
}

.secondary-font-color {
}

.primary-btn-color {
  background-color: #7f89ff;
  border-color: #7c86ff;
  color: #fff;
  box-shadow: 0 3px 0 0 #5361ff !important;
  transition: 0.1s all linear;
}

.primary-btn-color:hover,
.primary-btn-color:active,
.primary-btn-color:focus,
.primary-btn-color:active:focus {
  background-color: #6672ff !important;
  border-color: #5664ff !important;
  box-shadow: 0 1px 0 0 #5361ff !important;
  transform: translateY(2px);
}

.secondary-btn-color {
  background-color: #ffffff;
  border-color: #e3e3e3;
  color: #7b7b7b;
  box-shadow: 0 3px 0 0 #e1e1e1;
  transition: 0.1s all linear;
}

.secondary-btn-color:hover,
.secondary-btn-color:active,
.secondary-btn-color:focus,
.secondary-btn-color:active:focus {
  background-color: #f7f7f7;
  border-color: #e3e3e3;
  box-shadow: 0 1px 0 0 #e1e1e1;
  transform: translateY(2px);
}

.hobbies-color {
  background-color: #aeb4ff;
  color: #fff;
}

.mat-step-header .mat-step-label.mat-step-label-active,
.stepper-family-detail-view .mat-step-label {
  background-color: #606cff;
  color: #fff !important;
}

.form-control:focus {
  border-color: #bfc4ff;
  box-shadow: inset 0 1px 1px #e5e7ff, 0 0 8px #d0d3ff;
  background-color: #fff;
}

.mat-calendar-body-selected {
  background-color: #7f89ff;
}

.mat-datepicker-toggle-active {
  color: #7f89ff;
}

.login-reg-btn {
  box-shadow: 0 4px 0 0 #5361ff;
}

/* Action Button Section */
.ms-nav .ms-menu-toggle:checked ~ .ms-li a,
.ms-nav > .ms-main > a {
  box-shadow: 0px 5px 10px #333333;
}

.ms-nav .ms-menu-toggle ~ .ms-li:before {
  border-top: 0px solid #7f89ff;
}

.ms-nav .ms-menu-toggle:checked ~ .ms-li:before {
  border-top: 25px solid #7f89ff;
}

.ms-nav .ms-menu-toggle:checked ~ .ms-li:after {
  border-bottom: 25px solid #7f89ff;
}

.ms-nav .ms-menu-toggle:checked ~ .ms-main:after {
  border-bottom: 45px solid #7f89ff;
}

.ms-nav .ms-menu-toggle:checked ~ .ms-li-last:after {
  border-bottom: 0px solid #7f89ff;
}

.ms-nav > li a,
.ms-nav > .ms-main a,
.ms-nav > .ms-main > a > label {
  color: #ffffff;
  background: #7f89ff;
}

.family-member-hobbies li i {
  color: #7279cc;
}
