.subDetailContainer {
  position: relative;
  padding-left: 50px;
  border: 2px solid #ededed;
  margin: 20px 0;
  border-radius: 4px;
}

.subDetailContainer .icon-section {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 54px;
  background-color: #ededed;
  z-index: 1;
}

.subDetailContainer .icon-section i {
  transform: translate(-56%, -50%);
  top: 50%;
  position: absolute;
  left: 50%;
  font-size: 22px;
  text-shadow: 1px 1px 1px #fff;
}

.detail-section {
  padding: 5px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: 105;
  position: relative;
  background-color: #fff;
}

.label-section {
  font-size: 12px;
  color: #5d5d5d;
}

.data-section {
  color: #2c2c2c;
  font-weight: 500;
  font-size: 16px;
}

.uploaed-img-section {
  height: 300px;
  width: 300px;
  position: relative;
  margin: 30px auto;
  padding: 42px;
}

.profile-frame {
  position: absolute;
  left: 3px;
  top: -3px;
}

.uploaed-img-section img {
  width: 100%;
  height: 100%;
}

.family-view-hobbie {
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
}

.stepper-family-detail-view .family-member-card {
  min-height: auto;
}

.no-child-found {
  margin: 40px 0;
  text-align: center;
}

.no-child-found i {
  font-size: 120px;
  color: #ebebeb;
  height: 150px;
  width: 150px;
  border: 7px solid #ebebeb;
  text-align: center;
  border-radius: 100%;
  line-height: 150px;
  box-sizing: content-box;
}

.no-child-found p {
  font-size: 18px;
  margin: 10px 0;
}
